/Laboratory1/JavaEE/Laboratory1.EE/target/
/Laboratory1/JavaEE/Laboratory.EE/nbproject/private/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-war/nbproject/private/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-ejb/nbproject/private/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-ejb/build/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-war/build/
/Laboratory1/JavaEE/Laboratory.EE/build/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-ejb/dist/
/Laboratory1/JavaEE/Laboratory.EE/Laboratory.EE-war/dist/
/Laboratory1/JavaEE/Laboratory.EE/dist/
/Laboratory1/Laboratory1.console/target/
/Laboratory1/Standalone/Laboratory.Standalone/target/
/Laboratory1/Laboratory.Standalone/target/